#maintitle-container{

	width: 100%;
	height: 100px;
	background-color: black;
	border-bottom: 1px solid #3d85b5;
	margin-top: -22px;

}

#maintitle{

	float: left;
	width: 400px;
	color: #bbcde8;
	padding-top: 30px;
	padding-left: 30px;
}

#shape{

	width: 200px;
	height: 200px;
	background-color: pink;
	display: none;
	position: relative;

}

body{

	font-family: 'Inconsolata', monospace;
	margin: 0;
	padding: 0;

}

#title-container{

	clear: left;
	float: left;
	margin-left: 30px;

}

#title-container p{
	font-size: 20px;
}

#scoreBoard{

	background-image: url("assets/bluebackground.jpg");
	border-radius: 5px;
	border: 1px solid grey;
	width: 200px;
	height: 190px;
	margin-top:20px;
	margin-right: 30px;
	padding-right: 20px;
	padding-left: 20px;
	float: right;

}

#scoreBoard p{

	font-size: 17px;

}

#stop{

	float: right;
	clear: right;
	margin: 30px 40px;
}

.button{

	font-family: 'Inconsolata', monospace;
	font-size: 15px;
	font-weight: bold;
	border: 2px solid;
	background-color: #d4f7e9;
	border-radius: 25%;

}

button:hover{
	text-decoration: underline;
}

html{

	background-color: #e6ecf7;

}











